body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: black;
}

main {
    width: 177.7vh;
    height: 100vh;
    overflow: hidden;

    background-color: white;
}

@media (max-aspect-ratio: 16/9) {
    main {
        width: 100vw;
        height: 56.25vw;
    }
}

#container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    box-sizing: border-box;
}

.slip {
    flex-shrink: 0;
    width: 100%;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}