@import url("normalize.css");

:root {
  --slip-width: 1;
  --slip-margin: 0;
  --slip-spacing: 0;

  --relative-spacing: calc(var(--slip-spacing) / var(--slip-width) * 100em);
  --relative-margin: calc(var(--slip-margin) / var(--slip-width) * 100em);

  --transition-duration: 0.5s;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: black;
}

main {
  overflow: hidden;
  width: calc(100vh * 16 / 9);
  height: 100vh;
  font-size: calc(1vh * 16 / 9); /* set 1em to 1% of the width */

  @media (max-aspect-ratio: 16/9) {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    font-size: 1vw;
  }

  background-color: white;
}

#container {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--relative-spacing);

  padding: 0 var(--relative-margin);
  margin-top: var(--relative-margin);
  box-sizing: border-box;

  top: 0;
  transition: top var(--transition-duration) ease-in-out;
}

.slip {
  flex-shrink: 0;
  width: 100%;

  opacity: 0;
  transition: opacity var(--transition-duration) ease-in-out;
}
